    <!-- Loading div
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div id="object">
                <h4 id="loading-h1" data-text="It's loading…">It's loading…</h4>
                </div>
                <div class="loader"></div>
            </div>
        </div>
    </div> -->
    <!-- End Loading div -->

    <!-- Navigation -->
    @RenderPage("../Shared/_NavPartial.cshtml", null)

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">@T("Resources.Home.BigCompanyName")</h1>
                        <ul id="fade">
                            <li>
                                <p class="intro-text">@Html.Raw(T("Resources.Home.Subheading1"))</p>
                            </li>
                            <li>
                                <p class="intro-text">@Html.Raw(T("Resources.Home.Subheading2"))</p>
                            </li>
                        </ul>
                        
                        <a href="#about-2" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about-2" class="container content-section">
        <div class="row">
            <div id="home-about" class="col-lg-8 col-lg-offset-2">
                <h2 class="text-center">Resources.Home.Policy</h2>
                <p>Resources.About.PolicyText</p>
                <ul class="tick-list home-tick-list">
                    <li>
                        <i class="fa fa-check-circle"></i> Resources.About.PolicyList1
                    </li>
                    <li>
                        <i class="fa fa-check-circle"></i> Resources.About.PolicyList2
                    </li>
                    <li>
                        <i class="fa fa-check-circle"></i> Resources.About.PolicyList3
                    </li>
                    <li>
                        <i class="fa fa-check-circle"></i> Resources.About.PolicyList4
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Section #3 Portfiloio -->
    <section id="home" data-speed="4" data-type="background">
        <div class="container">
            <div class="portfolio-page portfolio-4column">
                <ul id="portfolio-list" data-animated="fadeIn">
                    <li class="col-md-3 col-sm-6 col-xs-12 post">
                        <img src="~/Modules/Diaco.Helloworld/Images/home/home-frit.jpg" alt="" />
                        <div class="portfolio-item-content">
                            <span class="header">Resources.Nav.Frit</span>
                            <p class="body">Resources.Home.CompanyName</p>
                        </div>
                        <a class="btn btn-success more" href='@Url.Action("Frits", "Home")'>Resources.Home.ReadMore &raquo;</a>
                    </li>
                    <li class="col-md-3 col-sm-6 col-xs-12 post">
                        <img src="~/Modules/Diaco.Helloworld/Images/home/home-glaze.jpg" alt="" />
                        <div class="portfolio-item-content">
                            <span class="header">Resources.Nav.Glaze</span>
                            <p class="body">Resources.Home.CompanyName</p>
                        </div>
                        <a class="btn btn-success more" href='@Url.Action("Glazes", "Home")'>Resources.Home.ReadMore &raquo;</a>
                    </li>
                    <li class="col-md-3 col-sm-6 col-xs-12 post">
                        <img src="~/Modules/Diaco.Helloworld/Images/home/home-third.jpg" alt="" />
                        <div class="portfolio-item-content">
                            <span class="header">Resources.Nav.Thirdfiring</span>
                            <p class="body">Resources.Home.CompanyName</p>
                        </div>
                        <a class="btn btn-success more" href='@Url.Action("Third_Firing", "Home")'>Resources.Home.ReadMore &raquo;</a>
                    </li>
                    <li class="col-md-3 col-sm-6 col-xs-12 post">
                        <img src="~/Modules/Diaco.Helloworld/Images/home/home-ink.jpg" alt="" />
                        <div class="portfolio-item-content">
                            <span class="header">Resources.Nav.Digitalprinting</span>
                            <p class="body">Resources.Home.CompanyName</p>
                        </div>
                        <a class="btn btn-success more" href='@Url.Action("Digital_Printing", "Home")'>Resources.Home.ReadMore &raquo;</a>
                    </li>
                </ul>
                <!-- End Portfolio Items -->

            </div>
        </div>
    </section>
    <!-- Services -->
    <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
    <section id="services" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12">
                    <h2>Resources.Home.CompanyName</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 post">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-graduation-cap fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Resources.Home.Feature4Head</strong>
                                </h4><p>
                                    Resources.Home.Feature4text
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 post">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-cogs fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Resources.Home.Feature3Head</strong>
                                </h4>
                                <p>Resources.Home.Feature3text</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 post">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-line-chart fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Resources.Home.Feature2Head</strong>
                                </h4><p>
                                    Resources.Home.Feature2text
                                </p>
                            </div>

                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 post">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-users fa-stack-1x text-primary"></i>
                                </span>
                                <h4>
                                    <strong>Resources.Home.Feature1Head</strong>
                                </h4>
                                <p>Resources.Home.Feature1text</p>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    <!-- Footer -->
        @RenderPage("../Shared/_FooterPartial.cshtml", null)

        <!-- jQuery -->
            <script src="~/Modules/Diaco.Helloworld/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Modules/Diaco.Helloworld/Scripts/bootstrap.js"></script>
    <script src="~/Modules/Diaco.Helloworld/Scripts/respond.js"></script>
    <script src="~/Modules/Diaco.Helloworld/Scripts/jquery.easing.min.js"></script>
    <script src="~/Modules/Diaco.Helloworld/Scripts/jquery.viewportchecker.min.js"></script>



    <!-- animated scroll loading effect -->
    <script type="text/javascript">
        jQuery(document).ready(function () {
            jQuery('.post').addClass("not-visible").viewportChecker({
                classToAdd: 'visible animated fadeInUp',
                offset: 100
            });
        });
    </script>

    <!-- Parallax effect
    @@Scripts.Render("~/Scripts/init.js") -->
    <!-- Ticker effect -->

        <script src="~/Modules/Diaco.Helloworld/Scripts/ticker00.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#fade').list_ticker({
                speed: 20000,
                effect: 'fade'
            });
        })
    </script>
    <!-- Custom Theme JavaScript -->
        <script src="~/Modules/Diaco.Helloworld/Scripts/grayscale.js"></script>
    <script>
        $(window).load(function () {
            document.getElementById("loading").style.display = "none";
        })
    </script>
    <!-- End Page Loading -->